# Dependencies
node_modules/

# Builds
/dist/

# Logs and caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.eslintcache
.cache/

# Environment
.env
.env.*
!.env.example

# OS/editor
.DS_Store
.idea/
.vscode/

# LLM instructions
.llm/

supabase/.temp/
tsconfig.tsbuildinfo
tsconfig.node.tsbuildinfo
